/*
    THEME COLOR: #FE2525
*/

*:focus{
    outline: none;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', sans-serif;
}

#app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* navbar */

.navbar-wrap{
    width: 100%;
    height: 50px;
    display: flex;
    background: #111;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid #000;
    z-index: 999;
}

.navbar-content{
    display: flex;
    width: 100%;
    margin: 0 50px;
    justify-content: space-between;
    align-items: stretch;
}

.navbar-right, .navbar-left{
    display: flex;
    align-items: center;
}

.navbar-logo{
    height: 40px;
}

.navbar-content .line{
    border-right: 1px dashed #333;
    height: 50%;
    margin: 0 20px;
}

.navbar-dropdown{
    display: flex;
    padding: 0 20px;
    height: 50px;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}
.navbar-dropdown:hover{
    background: rgba(0,0,0,.25);
    color: #fe2525;
}
.navbar-dropdown:focus{
    outline: none;
    background: rgba(0,0,0,.5);
}

.navbar-dropdown .dropdown-items{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background: #151515;
    width: max-content;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #000;
}
.navbar-dropdown:focus .dropdown-items{
    display: flex;
}
.navbar-dropdown:active .dropdown-items{
    display: flex;
}

.dropdown-items hr{
    width: 100%;
    border: none;
    border-top: 1px solid #0a0a0a;
    margin: 0;
}

.dropdown-item{
    border: none;
    background: none;
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    width: 100%;
    text-align-last: left;
}
.dropdown-item:hover{
    background: rgba(0,0,0,.25);
    color: #fe2525;
}

.dropdown-head{
    font-size: 12px;
    font-weight: 600;
}


/* general */

input{
    background: rgba(255,255,255,0.1);
    border: 1px solid #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    transition: 0.25s ease;
    transition-property: border, box-shadow;
}
input:focus{
    outline: none;
    border-color: #fe2525;
    box-shadow: 0 0 0 3px rgba(254, 37, 37, 0.25);
}

/* workspace */

.main-space{
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.workspace{
    background: #262626;
    width: 100%;
}

.stage{
    border-left: 1px solid #000;
}

.stage-player{
    padding: 10px;
    border-bottom: 1px solid #000;
}

#stageCanvas{
    background: #fff;
    border-radius: 4px;
}

.code-edit{
    height: 100%;
    background: #0e0e0e;
    position: relative;
    overflow: hidden;
}

#code{
    padding: 10px;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    height: calc(100% - 20px);
    white-space: pre-wrap;
    overflow: hidden;
}

#input{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    border: none;
    resize: none;
    padding: 0;
    background-color: transparent;
    color: transparent;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    caret-color: white;
    white-space: pre;
}

#gutter {
    height: 100%;
    width: 30px;
    color: white;
    background: #111;
    margin: 0;
}

.line {
    height: 16px;
    line-height: 16px;
}

/* 
syntax 
------
block types
*/

.event{
    color: rgb(255, 170, 72)
}

.movement{
    color: rgb(57, 110, 255)
}

.looks{
    color: purple;
}

.control {
    color: rgb(255, 217, 0);
}

.sensing {
    color: rgb(145, 213, 240);
}

/* 
syntax
------
misc
*/

.number {
    color: rgb(80, 185, 255);
}

.symbol {
    color: rgb(68, 68, 68);
}

.string {
    color: rgb(255, 124, 124);
}

.string .number {
    color: rgb(255, 124, 124);
}

.class {
    color: teal;
}

.string .class {
    color: rgb(255, 124, 124);
}
