/*
    THEME COLOR: #FE2525
*/

*:focus{
    outline: none;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', sans-serif;
}

#app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* splash screen */

#splash{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(254, 37, 37, 0.4);   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#splash img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    animation: splashImg 1s infinite linear;
}
#splash h2{
    color: #fff;
    font-weight: 600;
    margin-top: 25px;
    font-size: 30px;
}
#splash.hid{
    animation: splashHid 0.5s ease;
    opacity: 0;
}

/* navbar */

.navbar-wrap{
    width: 100%;
    height: 50px;
    display: flex;
    background: #111;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid #000;
    z-index: 999;
    position: sticky;
    top: 0;
}

.navbar-content{
    display: flex;
    width: 100%;
    margin: 0 50px;
    justify-content: space-between;
    align-items: stretch;
}

.navbar-right, .navbar-left{
    display: flex;
    align-items: center;
}

.navbar-logo{
    height: 40px;
}

.navbar-content .line{
    border-right: 1px dashed #333;
    height: 50%;
    margin: 0 20px;
}

.navbar-dropdown{
    display: flex;
    padding: 0 20px;
    height: 50px;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}
.navbar-dropdown:hover{
    background: rgba(0,0,0,.25);
    color: #fe2525;
}
.navbar-dropdown:focus{
    outline: none;
    background: rgba(0,0,0,.5);
}

.navbar-dropdown .dropdown-items{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background: #151515;
    width: max-content;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #000;
}
.navbar-dropdown:focus .dropdown-items{
    display: flex;
}
.navbar-dropdown:active .dropdown-items{
    display: flex;
}

.dropdown-items hr{
    width: 100%;
    border: none;
    border-top: 1px solid #0a0a0a;
    margin: 0;
}

.dropdown-item{
    border: none;
    background: none;
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    width: 100%;
    text-align-last: left;
}
.dropdown-item:hover{
    background: rgba(0,0,0,.25);
    color: #fe2525;
}

.dropdown-head{
    font-size: 12px;
    font-weight: 600;
}


/* general */

input{
    background: rgba(255,255,255,0.1);
    border: 1px solid #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    transition: 0.25s ease;
    transition-property: border, box-shadow;
}
input:focus{
    outline: none;
    border-color: #fe2525;
    box-shadow: 0 0 0 3px rgba(254, 37, 37, 0.25);
}

/* workspace */

.main-space{
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.workspace{
    background: #262626;
    width: 100%;
    display: flex;
    position: relative;
}

.stage{
    border-left: 1px solid #000;
    position: relative;
}

.stage-player{
    padding: 10px;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

#stageResize{
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 100%;
    cursor: col-resize;
}

#stageCanvas{
    background: #fff;
    border-radius: 4px;
}

.code-edit{
    height: 100%;
    width: 100%;
    background: #0e0e0e;
    position: relative;
    overflow: hidden;
}

#code{
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    height: calc(100% - 20px);
    white-space: pre-wrap;
    overflow: hidden;
    top: 0;
    position: absolute;
    padding: 10px 0;
    flex-direction: column;
    min-width: 100%;
}

#input{
    width: calc(100% - 20px);
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 20px;
    position: absolute;
    margin: 0;
    border: none;
    resize: none;
    background-color: transparent;
    color: transparent;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    caret-color: white;
    white-space: pre;
    line-height: 20px;
}
#input::selection{
    background: rgba(254, 37, 37, 0.5);
    color: #fff;
}

#gutter {
    height: 100%;
    width: 30px;
    color: white;
    background: #111;
    margin: 0;
}

#code .line {
    height: 20px;
    line-height: 20px;
    min-width: 100%;
    padding: 0 30px;
    white-space: pre;
    flex-shrink: 0;
}
#code .line.sel{
    background: rgba(255, 255, 255, 0.1);
}

.temp-line{
    height: 20px;
    width: 100%;
    padding: 0 30px;
    background: rgba(255, 255, 255, 1);
    flex-shrink: 0;
}

.code-lines{
    width: 50px;
    border-right: 1px solid #333;
    background: #0e0e0e;
    min-height: 100%;
    line-height: 20px;
    padding: 10px 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}
.code-lines p{
    font-size: 12px;
    padding-right: 20px;
    margin: 0;
    height: 20px;
    text-align: right;
    color: #555;
    font-family: 'Roboto Mono', monospace;
}

.code-autocomplete{
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    border-radius: 4px;
    z-index: 10;
    width: 300px;
    overflow: auto;
    display: none;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.code-autocomplete.active{
    display: block;
}

.autocomplete-item{
    color: #fff;
    padding: 10px;
    display: flex;
    height: 20px;
    border-bottom: 1px solid #222;
}
.autocomplete-item:hover{
    background: rgba(255,255,255,0.05);
    cursor: pointer;
    user-select: none;
}
.autocomplete-item.sel{
    background: rgba(254, 37, 37, 0.25);
    height: auto;
    max-height: 50px;
}


.autocomplete-item h4{
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    width: 40%;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
.autocomplete-item p{
    margin: 0;
    font-size: 10px;
    color: #aaa;
    width: 60%;
    max-height: 100%;
    overflow: auto;
    display: none;
}
.autocomplete-item.sel p{
    display: block;
}
.autocomplete-item p::-webkit-scrollbar{
    width: 0;
    height: 0;
}

#contextMenu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #333;
    overflow: hidden;
    border-radius: 4px;
    min-width: 150px;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    opacity: 0;
    display: none;
    padding: 5px 0;
    user-select: none;
}
#contextMenu.active{
    opacity: 1;
    display: block;
    animation: contextAppear 0.25s ease;
}

#contextMenu .menu-item{
    padding: 7px 10px;
    width: 100%;
    color: #fff;
    transition: 0.1s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#contextMenu .menu-item:hover{
    background: rgba(255,255,255,0.1);
}

#contextMenu .menu-item .iconify{
    margin-right: 10px;
}

#contextMenu .menu-item.dis{
    opacity: 0.5;
}
#contextMenu .menu-item.dis:hover{
    background: none;
}

.code-palette{
    width: 350px;
    border-right: 1px solid #000;
    background: #151515;
    display: flex;
    flex-shrink: 0;
    position: relative;
    z-index: 15;
}
#paletteResize{
    position: absolute;
    top: 0;
    right: -10px;
    width: 20px;
    height: 100%;
    cursor: col-resize;
}

#paletteContent{
    width: 100%;
    overflow: auto;
    padding: 10px;
}
.palette-item{
    padding: 10px;
    background: #333;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    user-select: none;
    cursor: grab;
}
.palette-item:active{
    cursor: grabbing;
}

/* 
syntax 
------
block types
*/

.events {
    color: rgb(253, 239, 112)
}

.motion {
    color: rgb(77, 121, 240)
}

.looks {
    color: rgb(171, 102, 236);
}

.control {
    color: rgb(255, 191, 95);
}

.sensing {
    color: rgb(113, 206, 243);
}

/* 
syntax
------
misc
*/

.number {
    color: rgb(255, 173, 118);
}

.token {
    color: rgb(117, 117, 117);
}

.string {
    color: rgb(165, 255, 124);
}

.string .number {
    color: rgb(255, 124, 124);
}

.class {
    color: rgb(96, 240, 103);
}

.string .class {
    color: rgb(255, 124, 124);
}


/* animations */

@keyframes contextAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes splashImg{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes splashHid{
    0%{
        display: flex;
        opacity: 1;
    }
    99%{
        display: flex;
        opacity: 0;
    }
}

@keyframes paletteItemDestroy{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.4);
        opacity: 0;
    }
}